<p>
  Responde la pregunta, ¿cómo de bien se le da hacer cosas a tu personaje?
</p>

<button (click)="seleccionArray()">Estandar</button>
<button (click)="seleccionPuntos()">Puntos</button>
<button (click)="seleccionRandom()">Random</button>


<table class="table table-hover text-center">
  <thead class="thead-dark">
    <tr>
      <th>Caracteristica</th>
      <th>Puntos</th>
      <th *ngIf="!mostrarRandom"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let caracteristica of caracteristicas; let i = index">
      <td>{{caracteristica.nombreCaracteristica}}</td>

      <td *ngIf="mostrarArray">{{puntosArray[i].array}}</td>
      <td *ngIf="mostrarArray">
        <button (click)="arriba(puntosArray[i].id, puntosArray[i].array)">&uarr;</button>
        <button (click)="abajo(puntosArray[i].id, puntosArray[i].array)">&darr;</button>
      </td>

      <td *ngIf="mostrarPuntos">{{puntosArray[i].pointBuy}}</td>
      <td *ngIf="mostrarPuntos">
        <button (click)="sumar(puntosArray[i].id)">+</button>
        <button (click)="restar(puntosArray[i].id)">-</button>
      </td>

      <td *ngIf="mostrarRandom">{{randomArray[i].random}}</td>

    </tr>
    <!-- <tr *ngFor="let puntos of puntosArray">
      <td>{{puntos.array}}</td>
    </tr> -->
  </tbody>
</table>
<br />

<label *ngIf="mostrarPuntos">{{totalPuntos}}/27</label>

<br />
<button routerLink="/personaje/datos">
  Confirmar
</button>
<button *ngIf="mostrarPuntos" (click)="resetPuntos()">
  Reset
</button>

<!-- 
<div *ngIf="mostrarArray">
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let puntos of puntosArray">
        <td>{{puntos.array}}</td>
      </tr>
    </tbody>
  </table>

  <button routerLink="/personaje/datos">
    Confirmar
  </button>
</div>

<div *ngIf="mostrarPuntos">
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let puntos of puntosArray; let i = index">
        <td>{{puntos.pointBuy}}</td>
        <td>
          <button (click)="sumar(puntos.id)">+</button>
          <button (click)="restar(puntos.id)">-</button>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="sumar(0)">+</button>
          <button (click)="restar(0)">-</button>
        </td>
        <td>
          <button (click)="sumar(1)">+</button>
          <button (click)="restar(1)">-</button>
        </td>
        <td>
          <button (click)="sumar(2)">+</button>
          <button (click)="restar(2)">-</button>
        </td>
        <td>
          <button (click)="sumar(3)">+</button>
          <button (click)="restar(3)">-</button>
        </td>
        <td>
          <button (click)="sumar(4)">+</button>
          <button (click)="restar(4)">-</button>
        </td>
        <td>
          <button (click)="sumar(5)">+</button>
          <button (click)="restar(5)">-</button>
        </td>
      </tr>
    </tbody>
  </table>

  <label>{{totalPuntos}}/27</label><br />

  <button routerLink="/personaje/datos">
    Confirmar
  </button>
  <button (click)="resetPuntos()">
    Reset
  </button>
</div>

<div *ngIf="mostrarRandom">
  <table>
    <thead>
      <tr>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let puntos of puntosRandom">
        <td>{{puntos.random}}</td>
      </tr>
    </tbody>
  </table>
  <label>
    Puntos
  </label><br /><br />
  <label>{{random1}}</label><br />
  <label>{{random2}}</label><br />
  <label>{{random3}}</label><br />
  <label>{{random4}}</label><br />
  <label>{{random5}}</label><br />
  <label>{{random6}}</label><br />

  <button routerLink="/personaje/datos">
    Confirmar
  </button>
</div> -->