
<input name="raza" [ngModel]="razaElegida()" (change)="mostrarCosas()" hidden />

<div *ngIf="razaMostrar>0" >
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Rasgos raciales</th>
      </tr>
      <tr>
        <th>Nombre rasgo</th>
        <th>Descripcion rasgo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rasgoRaza of rasgosRaza">
        <td>{{rasgoRaza.nombreRasgoRaza}}</td>
        <td>{{rasgoRaza.descripcionRasgoRaza}}</td>
      </tr>
      <tr *ngFor="let rasgoSubraza of rasgosSubraza">
        <td>{{rasgoSubraza.nombreRasgoSubraza}}</td>
        <td>{{rasgoSubraza.descripcionRasgoSubraza}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="claseMostrar>0">
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Rasgos de clase</th>
      </tr>
      <tr>
        <th>Nombre rasgo</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rasgoClase of rasgosClase">
            <td>{{rasgoClase.nombreRasgoClase}}</td>
            <td>{{rasgoClase.descripcionRasgoClase}}</td>
          </tr>
    </tbody>
  </table>
</div>