<div>
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th colspan="4">Raza: {{Raza}}</th>
      </tr>
      <tr>
        <th>Raza</th>
        <th>Dados de golpe</th>
        <th>Descripción</th>
        <th>Elegir</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div>
  <table class="table table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th>Rasgos Raciales</th>
      </tr>
      <tr>
        <th>Clase</th>
        <th>Dados de golpe</th>
        <th>Descripción</th>
        <th>Elegir</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let clase of clases" ng-click="mostrar = !mostrar">
        <td>{{clase.nombreClase}}</td>
        <td>d{{clase.hitDice}}</td>
        <td>{{clase.descripcionClase}}</td>
        <td>
          <button (click)="getRasgosClase(clase.idClase)">
            Elegir
          </button>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>