<!-- <div class="mx-auto mat-elevation-z24 m-5 p-5 rounded">

  
  <hr>
  <div class="row">
      <div class="col-8">
        <input matInput placeholder="DNI" name="test.dni" required>
        <input matInput placeholder="Email" name="test.email" required>
        <input matInput placeholder="Nombre" name="test.nombre" required>
        <input matInput placeholder="Apellidos" name="test.apellidos" required>
      </div>
  </div>
  <div class="row">
    <input matInput placeholder="Direccion" name="test.direccion">
    <input matInput placeholder="Teléfono" name="test.telefono" required>
    <input matInput placeholder="Fecha de Nacimiento" name="test.fechaNacimiento" required>
  </div>
  <div class="row">
      <div class="col-5">
          
              <input matInput placeholder="Ciudad" name="test.ciudad">
          
      </div>
      
      <div class="col-2">
          
              <input matInput placeholder="Código Postal" name="test.codigoPostal">
          
      </div>
  </div>
  
  <hr>
  <div class="row">
      <div class="col-2">
          <h4 class="pl-4">Tecnologías:</h4>
      </div>
      
  </div>
  <hr>

</div> -->
<header>
  <section class="charname">
    <label for="charname">Nombre del personaje</label><input name="charname" />
  </section>
  <section class="misc">
    <ul>
      <li>
        <div class="classlevel">
          <div class="divclass">
            <input name="class" placeholder="clase"/>
            <label for="class">Clase</label>
          </div>
          <div class="divlevel">
            <input name="level"  placeholder="nivel"/>
            <label for="level">Nivel</label>
          </div>
        </div>
      </li>
      <li>
        <div>
          <input name="background" />
          <label for="background">Trasfondo</label>
        </div>
      </li>
      <li>
        <div>
          <input name="playername" />
          <label for="playername">Nombre del Jugador</label>
        </div>
      </li>
      <li>
        <div>
          <input name="race" />
          <label for="race">Raza</label>
        </div>
      </li>
      <li>
        <div>
          <input name="alignment" />
          <label for="alignment">Alineamiento</label>
        </div>
      </li>
      <li>
        <div>
          <input name="experiencepoints" />
          <label for="experiencepoints">Puntos de experiencia</label>
        </div>
      </li>
    </ul>
  </section>
</header>