<p>
  ¡Vamos a crear un personaje paso a paso!
</p>

<nav>
  <a routerLink="/creacion/info">Información</a>
  <a routerLink="/creacion/raza">Raza</a>
  <a routerLink="/creacion/clase">Clase</a>
  <a routerLink="/creacion/trasfondo">Trasfondo</a>
  <a routerLink="/creacion/stats">Stats</a>
</nav>
<router-outlet></router-outlet>
<br/><br/>
<!-- <button routerLink="personajeCreado ? ../personaje/{{id}} : []" (click)="confirmarCreacion()">¡Crear personaje!</button> -->
<button (click)="confirmarCreacion()">¡Crear personaje!</button>
<br/>
<button *ngIf="personajeCreado" routerLink="/personaje/{{id}}/datos" (click)="verPersonaje()">Ver tu nuevo personaje</button>
