<p>
  Vamos a decidir el nombre y algunas características de tu personaje.
</p>

<!-- <div class="mx-auto mat-elevation-z24 m-5 p-5 rounded"> -->
<div class="gridInfo">
  <div class="nameInfo">
    <label class="name">
      <span>Nombre:
        <span class="required">*</span>
      </span>
      <br>
      <input #nameCharacter class="box" [(ngModel)]="nombrePersonaje" (ngModelChange)="mostrarConfirmar()" />
    </label>
  </div>
  <!-- <br /><br /> -->
  <div class="levelInfo">
    <label class="level">
      <span>Nivel:
        <span class="required">*</span>
      </span>
      <br>
      <input appOnlyNumbers #levelCharacter class="box" value="1" />
    </label>
    <br /><br />
  </div>
  <div class="alignInfo">
    <label class="align"><a class="show">
        <span>Alineamiento:
          <span class="required">*</span>
        </span><span class="hidden">Determina el comportamiento de tu personaje
          <br><br>
          Legal es que respeta las normas, caótico es que hace lo que quiere
          <br><br>
          Bueno es que tiende al bien común, malvado es que tiende al beneficio propio</span>
        <br>
        <select #alignCharacter name="alignCharacter" id="alignCharacter">
          <option *ngFor="let alineamiento of alineamientos" value="{{alineamiento.nombreAlineamiento}}">
            {{alineamiento.nombreAlineamiento}}</option>
        </select>
      </a>
    </label>
  </div>
  <!-- <br /><br /> -->

  <label>*Campo requerido</label>
  <div class="botones">
    <!-- <button class="button" (click)="addCharacter(nameCharacter.value, alignCharacter.value, levelCharacter.value)" >Confirmar</button> -->
    <button *ngIf="mostrar" class="button"
      (click)="addCharacter(nameCharacter.value, alignCharacter.value, levelCharacter.value)"
      routerLink="/creacion/raza">Confirmar</button>
  </div>
</div>
<!-- </div> -->