<p>
  Vamos a decidir el nombre y algunas características de tu personaje.
</p>

<!-- <div class="mx-auto mat-elevation-z24 m-5 p-5 rounded"> -->
<div class="gridInfo">
  <div class="nameInfo">
    <label for="name" class="name">
      <span>Nombre:
        <span class="required">*</span>
      </span>
    </label>
      <br>
      <input #nameCharacter class="box" id="name" [(ngModel)]="nombrePersonaje" (ngModelChange)="mostrarConfirmar()" />
    
  </div>
  <!-- <br /><br /> -->
  <div class="levelInfo">
    <label for="level" class="level">
      <span>Nivel:
        <span class="required">*</span>
      </span></label>
      <br>
      <input appOnlyNumbers #levelCharacter id="level" class="box" value="1" />
    
    <br /><br />
  </div>
  <div class="alignInfo">
    <label for="alignCharacter" class="align"><a class="show">
        <span>Alineamiento:
          <span class="required">*</span>
        </span><span class="hidden">Determina el comportamiento de tu personaje
          <br><br>
          Legal es que respeta las normas, caótico es que hace lo que quiere
          <br><br>
          Bueno es que tiende al bien común, malvado es que tiende al beneficio propio</span>
        </a>
      </label>
        <br>
        <select #alignCharacter name="alignCharacter" id="alignCharacter">
          <option *ngFor="let alineamiento of alineamientos" value="{{alineamiento.nombreAlineamiento}}">
            {{alineamiento.nombreAlineamiento}}</option>
        </select>
      
    
  </div>
  <label>*Campo requerido</label>
</div>

<p>
  Ahora vamos a definir la personalidad de tu personaje.<br>No tienes por qué hacerlo ahora, puede ser luego, pero es
  recomendable.
</p>

<div class="gridPersonality">
  <div class="personalityInfo">
    <label for="personality" class="personality">
      Rasgos de personalidad:
    </label>
      <br>
      <textarea #personalityCharacter id="personality" ></textarea>
    
  </div>
  <div class="idealsInfo">
    <label for="ideals" class="ideals">
      Ideales:
    </label>
      <br>
      <textarea #idealsCharacter id="ideals" ></textarea>
    
  </div>
  <div class="bondsInfo">
    <label for="bonds" class="bonds">
      Vínculos:
    </label>
      <br>
      <textarea #bondsCharacter id="bonds" ></textarea>
    
  </div>
  <div class="flawsInfo">
    <label for="flaws" class="flaws">
      Defectos:
    </label>
      <br>
      <textarea #flawsCharacter id="flaws" ></textarea>
    
  </div>
</div>
<br /><br />

<div class="botones">
  <!-- <button class="button" (click)="addCharacter(nameCharacter.value, alignCharacter.value, levelCharacter.value)" >Confirmar</button> -->
  <button *ngIf="mostrar" class="button"
    (click)="addCharacter(nameCharacter.value, alignCharacter.value, levelCharacter.value, personalityCharacter.value, idealsCharacter.value, bondsCharacter.value, flawsCharacter.value)"
    routerLink="/usuario/creacion/raza">Confirmar</button>
</div>
<!-- </div> -->