<form class="charsheet">
  <header>
    <section class="charname">
      <label for="charname">Nombre del personaje</label><input name="charname" [(ngModel)]="nombrePersonaje" />
    </section>
    <section class="misc">
      <ul>
        <li>
          <div class="classlevel">
            <div class="divclass">
              <!-- <input name="class" [(ngModel)]="clasePersonaje" (ngModelChange)="obtenerClase()"/> -->
              <select name="class" id="class" [(ngModel)]="clasePersonaje" (ngModelChange)="obtenerClase()">
                <option value=""></option>
                <option *ngFor="let clase of clases" value="{{clase.nombreClase}}">{{clase.nombreClase}}</option>
              </select>
              <label for="class">Clase</label>
            </div>
            <div class="divlevel">
              <input name="level" [ngModel]="calcularNivel()" disabled/>
              <label for="level">Nivel</label>
            </div>
          </div>
        </li>
        <li>
          <div>
            <input name="background" [(ngModel)]="trasfondoPersonaje"/>
            <label for="background" >Trasfondo</label>
          </div>
        </li>
        <li>
          <div>
            <input name="playername" [(ngModel)]="nombreJugador"/>
            <label for="playername" >Nombre del Jugador</label>
          </div>
        </li>
        <li>
          <div>
            <!-- <input name="race" [(ngModel)]="razaPersonaje" (ngModelChange)="obtenerRaza()"/> -->
            <select name="race" id="race" [(ngModel)]="razaPersonaje" (ngModelChange)="obtenerRaza()">
              <option value=""></option>
              <option *ngFor="let raza of arrayRazas" value="{{raza}}">{{raza}}</option>
            </select>
            <label for="race">Raza</label>
          </div>
        </li>
        <li>
          <div>
            <input name="alignment" [(ngModel)]="alineamientoPersonaje"/>
            <label for="alignment" >Alineamiento</label>
          </div>
        </li>
        <li>
          <div>
            <input appExperienceLimit name="experiencepoints" [(ngModel)]="experiencia" />
            <label for="experiencepoints">Puntos de experiencia</label>
          </div>
        </li>
      </ul>
    </section>
  </header>

  <nav *ngIf="navegarPersonaje">
    <a routerLink="/personaje/{{personaje.idPersonaje}}/datos">Datos</a>
    <a routerLink="/personaje/{{personaje.idPersonaje}}/magia">Magia</a>
    <a routerLink="/personaje/{{personaje.idPersonaje}}/rasgos">Rasgos</a>
  </nav>

  <nav *ngIf="navegarHoja">
    <a routerLink="/hoja/datos">Datos</a>
    <a routerLink="/hoja/magia">Magia</a>
    <a routerLink="/hoja/rasgos">Rasgos</a>
  </nav>

  <router-outlet></router-outlet>

</form>