<!-- <br><br>

 -->

<form class="charsheet">
  <!-- <br>
  <div class="gridUser">
    <div *ngIf="navegarHoja">
      <button class="crearEnHoja" (click)="crearPersonaje()">Guardar personaje</button>
    </div>
    <div *ngIf="navegarPersonaje">
      <button class="crearEnHoja">Actualizar datos</button>
    </div>
    <div>
      <button class="closeSesion" (click)="deleteAll()">Borrar todo</button>
      <button class="closeSesion" routerLink="/usuario/hoja" >Borrar todo</button>
    </div>
  </div>

  <br><br> -->

  <header>
    <section class="charname">
      <label for="charname">Nombre del personaje</label>
      <input name="charname" id="charname" [(ngModel)]="nombrePersonaje" />
    </section>
    <section class="misc">
      <ul>
        <li>
          <div class="classlevel">
            <div class="divclass">
              <!-- <input name="class" [(ngModel)]="clasePersonaje" (ngModelChange)="obtenerClase()"/> -->
              <select name="class" id="class" [(ngModel)]="clasePersonaje" (ngModelChange)="obtenerClase()">
                <option value="">--Elije--</option>
                <option *ngFor="let clase of clases" value="{{clase.nombreClase}}">{{clase.nombreClase}}</option>
              </select>
              <label for="class">Clase</label>
            </div>
            <div class="divlevel">
              <input name="level" id="level" [ngModel]="calcularNivel()" disabled />
              <label for="level">Nivel</label>
            </div>
          </div>
        </li>
        <li>
          <div>
            <!-- <input name="background" id="background" [(ngModel)]="trasfondoPersonaje"/> -->
            <select name="background" id="background" [(ngModel)]="trasfondoPersonaje" (ngModelChange)="obtenerTrasfondo()">
              <option value="">--Elije--</option>
              <option *ngFor="let trasfondo of trasfondos" value="{{trasfondo.nombreTrasfondo}}">
                {{trasfondo.nombreTrasfondo}}</option>
            </select>
            <label for="background">Trasfondo</label>
          </div>
        </li>
        <li>
          <div>
            <input name="playername" id="playername" [(ngModel)]="nombreJugador" disabled/>
            <label for="playername">Nombre del Jugador</label>
          </div>
        </li>
        <li>
          <div>
            <!-- <input name="race" [(ngModel)]="razaPersonaje" (ngModelChange)="obtenerRaza()"/> -->
            <select name="race" id="race" [(ngModel)]="razaPersonaje" (ngModelChange)="obtenerRaza()">
              <option value="">--Elije--</option>
              <option *ngFor="let raza of arrayRazas" value="{{raza}}">{{raza}}</option>
            </select>
            <label for="race">Raza</label>
          </div>
        </li>
        <li>
          <div>
            <!-- <input name="alignment" id="alignment" [(ngModel)]="alineamientoPersonaje"/> -->
            <select name="alignment" id="alignment" [(ngModel)]="alineamientoPersonaje">
              <option value="">--Elije--</option>
              <option *ngFor="let alineamiento of alineamientos" value="{{alineamiento.nombreAlineamiento}}">
                {{alineamiento.nombreAlineamiento}}</option>
            </select>
            <label for="alignment">Alineamiento</label>
          </div>
        </li>
        <li>
          <div>
            <input appExperienceLimit name="experiencepoints" id="experiencepoints" [(ngModel)]="experiencia" />
            <label for="experiencepoints">Puntos de experiencia</label>
          </div>
        </li>
      </ul>
    </section>
  </header>

  <nav *ngIf="navegarPersonaje">
    <a routerLink="/usuario/personaje/{{personaje.idPersonaje}}/datos">Datos</a>
    <!-- <a routerLink="/personaje/{{personaje.idPersonaje}}/magia">Magia</a> -->
    <a routerLink="/usuario/personaje/{{personaje.idPersonaje}}/rasgos">Rasgos</a>
  </nav>

  <nav *ngIf="navegarHoja">
    <a routerLink="/usuario/hoja/datos">Datos</a>
    <!-- <a routerLink="/hoja/magia">Magia</a> -->
    <a routerLink="/usuario/hoja/rasgos">Rasgos</a>
  </nav>

  <router-outlet></router-outlet>

</form>